<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGmB35FfdmQh_Y80MOR_c9kJyVUgHr3ys</string>
	<key>GCM_SENDER_ID</key>
	<string>1082862756676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iShop</string>
	<key>PROJECT_ID</key>
	<string>wild-cards-ac1cf</string>
	<key>STORAGE_BUCKET</key>
	<string>wild-cards-ac1cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082862756676:ios:ec2fbce3f80773d1e12d11</string>
</dict>
</plist>